[project]
	description = A application server framework help you build your own application server. Now supporting WSGI Server and Redis Cluster!
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Cheng Hui (freedomhui)
[access "refs/for/refs/*"]
	read = group user/Cheng Hui (freedomhui)
	push = group user/Cheng Hui (freedomhui)
	label-Code-Review = -2..+2 group user/Cheng Hui (freedomhui)
	label-Verified = -1..+1 group user/Cheng Hui (freedomhui)
	rebase = group user/Cheng Hui (freedomhui)
	removeReviewer = group user/Cheng Hui (freedomhui)
	submit = group user/Cheng Hui (freedomhui)
[access "refs/heads/*"]
	read = group user/Cheng Hui (freedomhui)
	create = group user/Cheng Hui (freedomhui)
	push = +force group user/Cheng Hui (freedomhui)
	pushMerge = group user/Cheng Hui (freedomhui)
[access "refs/tags/*"]
	push = +force group user/Cheng Hui (freedomhui)
	pushTag = group user/Cheng Hui (freedomhui)
	pushSignedTag = group user/Cheng Hui (freedomhui)
